name: daily-cron
on:
  schedule:
    - cron: "0 1 * * *"
jobs:
  cron:
    runs-on: ubuntu-latest
    steps:
      - name: Call our API route
        run: |
          curl --request POST \
          --url '${{ secrets.SITE_URL }}/api/cron' \
          --header 'Authorization: Bearer ${{ secrets.API_SECRET_KEY }}'
